*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container{
    max-width: 1170px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    border: 1px solid black;
    width: calc((100% / 4) - 2rem);
}

h2{
    margin: 10px 0;
    text-align: center;
}

.title{
    display: flex;
    justify-content: space-around;
    margin: 5px 0;
}

.info{
   margin: 20px 0;
}
